.loadScreen {
    background-color: #101010;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & h1 {
      margin-bottom: 0.2em;
      font-size: 3em;
    }
    & h2 {
      font-size: 1.5em;
    }
  }