@import "root", "header", "social", "future", "hero", "about", "skills",
  "education", "contact", "portfolio";

#experience {
  padding: 100px 0;

  @media (max-width: 568px) {
    .container {
      padding: 0;
    }
  }
}

.work {
  &-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    display: grid;

    @media (max-width: 568px) {
      display: none;
    }
  }

  &-slider {
    margin-bottom: 100px;
    display: none;

    @media (max-width: 568px) {
      display: block;
      float: left;
      width: 100%;
    }
  }

  &-item {
    padding: 10px;
    display: flex;

    @media (max-width: 568px) {
      & {
        padding: 10px;
        border-right: 1px solid var(--primary);
      }
    }

    .image-side {
      position: relative;
      width: 100%;
      flex: 0 0 15%;
      max-width: 15%;

      .image-wrapper {
        img {
          width: 100%;
        }
      }

      @media (max-width: 568px) {
        flex: unset;
        align-items: center;
        justify-content: center;
        max-width: unset;
        width: 100%;
        text-align: center;

        img {
          border-radius: 100%;
          width: 40%;
          margin-bottom: 20px;
        }
      }

      img {
        border-radius: 100%;
        width: 40%;
        margin-bottom: 20px;
      }
    }

    .detail-side {
      position: relative;
      width: 100%;
      flex: 0 0 75%;
      max-width: 75%;

      @media (max-width: 568px) {
        flex: unset;
        max-width: unset;
      }

      .title-wrapper {
        padding: 0 15px;
        height: 5rem;
        display: flex;
        align-items: center;
        text-align: left;

        @media (max-width: 568px) {
          & {
            display: block;
            padding: 0;
            text-align: center;
            height: unset;
          }
        }

        .title {
          h2 {
            margin-bottom: 5px;

            &.role {
              font-size: 1.3em;
              margin-bottom: 5px;
            }

            &.duration {
              font-size: 1.1em;
            }

            &.company {
              color: var(--primary);
              font-size: 1em;
            }

            &.location {
              color: var(--light);
              font-size: 0.8em;
              margin-bottom: 5px;
            }
          }
        }

        @media (max-width: 568px) {
          .title {
            h2 {
              margin-bottom: 5px;

              &.role {
                font-size: 1em;
                margin-bottom: 5px;
              }

              &.duration {
                font-size: 1.1em;
              }

              &.company {
                color: var(--primary);
                font-size: 1.3em;
              }

              &.location {
                color: var(--light);
                font-size: 0.8em;
                margin-bottom: 5px;
              }
            }
          }
        }
      }

      .task-wrapper {
        margin-top: 15px;
        padding: 0 30px;

        @media (max-width: 568px) {
          display: flex;
          justify-content: center;
          padding: 0;
          text-align: center;
          height: unset;
        }

        ul {
          line-height: 2em;
        }
      }
    }

    .link-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);

      &.one {
      }

      &.two {
        grid-template-columns: repeat(2, 1fr);
      }

      a {
        background: var(--primary);
        width: 100%;
        text-align: center;
        padding: 10px;
      }
    }

    .desc-wrapper {
      margin-bottom: 1em;
    }

    .stack-wrapper {
      display: block;
      height: 4.2em;
      padding-bottom: 10px;

      .stack {
        border: 1px solid var(--light);
        padding: 5px;
        margin: 2px;
        display: inline-flex;
        font-size: 0.8em;

        i {
          margin-top: 2px;
          margin-right: 5px;
        }
      }
    }
  }

  &-modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);

    .close-button {
      position: absolute;
      right: 0;
      font-size: 2em;
      background-color: transparent;
      color: var(--light);
      padding: 10px 15px;
    }

    .image-wrapper {
      position: relative;
      height: calc(100vh - 100px);
      width: calc(100% - 100px);
      left: 50px;
      top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 100%;
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

// Education Slider
.edu-slider {
  .edu-item {
    display: inline-block;
    .image-side {
      flex: unset;
      align-items: center;
      justify-content: center;
      max-width: unset;
      width: 100%;
      text-align: center;
      .image-wrapper {
        img {
          border-radius: 100%;
          width: 40%;
          margin-bottom: 20px;
        }
      }
    }
    .detail-side {
      .institute {
        color: var(--primary);
        font-size: 1em;
      }
      .location {
        color: var(--light);
        font-size: 0.8em;
        margin-bottom: 5px;
      }
    }
  }
}

.work-slider {
  .work-item {
    display: inline-block;
    .image-side {
      flex: unset;
      align-items: center;
      justify-content: center;
      max-width: unset;
      width: 100%;
      text-align: center;
      .image-wrapper {
        img {
          border-radius: 100%;
          width: 40%;
          margin-bottom: 20px;
        }
      }
    }
    .detail-side {
      .institute {
        color: var(--primary);
        font-size: 1em;
      }
      .location {
        color: var(--light);
        font-size: 0.8em;
        margin-bottom: 5px;
      }
    }
  }
}
.tnc {
  margin-top: 3em;
  text-align: center;
}
