:root {
  --dark: #101010;
  --grey: #252525;
  --primary: #5093e5;
  --light: #ffffff;
  --muted: #b7b7b7;
  --f-regular: 400;
  --f-bold: 700;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: var(--dark);
  color: var(--light);
  width: 100%;
}

body.no-scroll {
  overflow: hidden;
}
a {
  color: var(--light);
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:focus,
button:active {
  outline: none;
}
button:hover {
  cursor: pointer;
}
.primary-button {
  font-weight: var(--f-bold);
  text-transform: uppercase;
  color: var(--light);
  background: var(--primary);
  padding: 15px 20px;
  border: 1px solid var(--primary);
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.primary-button :hover {
  background-color: transparent;
  color: var(--primary);
}

.container {
  width: 100%;
  /* height: inherit; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 568px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 660px) {
  header.scrolled {
    padding: 20px;
  }
}



/* sliders  */
.slick-slider {
  width: 100%;
}
.slick-slider .slick-slide img {
  display: inline !important;
}

@media screen and (device-width: 480px) and (device-height: 640px) {
  .slick-slide {
    margin: 0 10px;
    background: #000;
    margin: 0;
    background: transparent;
  }
}
.slick-dots {
  position: unset !important;
}
.slick-dots li button:before {
  color: var(--primary) !important;
}
