.intro-section {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-section .inner-text {
  text-align: center;
  color: #ffffff;
}
.intro-section .inner-text h1 {
  font-size: 5rem;
}
.intro-section .inner-text h2 {
  font-size: 2rem;
}

.main-bg {
  background-image: linear-gradient(0deg, rgb(59, 59, 59), rgb(197, 197, 197)),
    linear-gradient(
      45deg,
      rgb(159, 116, 214) 0%,
      rgb(159, 116, 214) 25%,
      rgb(130, 95, 173) 25%,
      rgb(130, 95, 173) 45%,
      rgb(101, 74, 132) 45%,
      rgb(101, 74, 132) 50%,
      rgb(72, 54, 90) 50%,
      rgb(72, 54, 90) 52%,
      rgb(43, 33, 49) 52%,
      rgb(43, 33, 49) 61%,
      rgb(14, 12, 8) 61%,
      rgb(14, 12, 8) 100%
    ),
    linear-gradient(
      135deg,
      rgb(159, 116, 214) 0%,
      rgb(159, 116, 214) 25%,
      rgb(130, 95, 173) 25%,
      rgb(130, 95, 173) 45%,
      rgb(101, 74, 132) 45%,
      rgb(101, 74, 132) 50%,
      rgb(72, 54, 90) 50%,
      rgb(72, 54, 90) 52%,
      rgb(43, 33, 49) 52%,
      rgb(43, 33, 49) 61%,
      rgb(14, 12, 8) 61%,
      rgb(14, 12, 8) 100%
    );
  background-blend-mode: overlay, overlay, normal;
}

.desc-section {
  background-image: url("https://safwbdev.netlify.app/static/media/desc_bg.25374c6a.jpeg");
  /* background: red; */
  position: absolute;
  bottom: 0;
  height: 40vh;
  display: flex;
  align-items: center;
}
.desc-section h6 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-shadow: 11px 1px 6px #000;
}

:root {
  --dark: #101010;
  --grey: #252525;
  --primary: #5093e5;
  --light: #ffffff;
  --muted: #b7b7b7;
  --f-regular: 400;
  --f-bold: 700;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: var(--dark);
  color: var(--light);
  width: 100%;
}

body.no-scroll {
  overflow: hidden;
}
a {
  color: var(--light);
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:focus,
button:active {
  outline: none;
}
button:hover {
  cursor: pointer;
}
.primary-button {
  font-weight: var(--f-bold);
  text-transform: uppercase;
  color: var(--light);
  background: var(--primary);
  padding: 15px 20px;
  border: 1px solid var(--primary);
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.primary-button :hover {
  background-color: transparent;
  color: var(--primary);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 568px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}
.section-header .heading {
  font-size: 2.5rem;
}
.section-header .subheading {
  font-size: 1rem;
  color: var(--primary);
  font-weight: var(--f-regular);
}
@media (min-width: 768px) {
  .section-header .heading {
    font-size: 3rem;
  }

  .section-header .subheading {
    font-size: 1.5rem;
  }
}

.comingsoon,
.loadscreen {
  background-color: var(--dark);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.comingsoon .title {
  display: block;
}
.comingsoon h1,
.comingsoon h3 {
  text-align: center;
}

.loadscreen h2 {
  margin-left: 0.5em;
}
/* @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  } */

.loadscreen .loader,
.loadscreen .loader:before,
.loadscreen .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loadscreen .loader {
  color: #ffffff;
  font-size: 0.5rem;

  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loadscreen .loader:before,
.loadscreen .loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loadscreen .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loadscreen .loader:after {
  left: 3.5em;
}

/* header  */
header {
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3 ease;
}
header.scrolled {
  background-color: var(--dark);
  border-bottom: 3px solid var(--primary);
  padding: 10px;
}
header a {
  text-transform: uppercase;
  font-weight: var(--f-bold);
  font-size: 1rem;
  transition: all 0.3 ease;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  header a {
    font-size: 1em;
  }
}
header a:hover {
  color: var(--primary);
}
header a.active {
  color: var(--primary);
}
header .mobile-nav {
  position: relative;
}
header .mobile-nav .hamburger {
  background: transparent;
  border: none;
  color: var(--light);
  font-size: 2rem;
}
header .mobile-nav-links {
  display: none;
  background-color: var(--grey);
  list-style: none;
  padding: 20px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 45px;
}
header .mobile-nav-links .nav-link {
  margin-bottom: 10px;
}
header .mobile-nav-links .nav-link:last-child {
  margin-bottom: 0;
}
header .nav-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .nav-link {
  display: inline-block;
  margin-right: 20px;
}
header .nav-link:last-child {
  margin-right: 0;
}
@media (min-width: 660px) {
  header .mobile-nav {
    display: none;
  }
  header .nav-links {
    display: block;
  }
  header.scrolled {
    padding: 20px;
  }
}
.mobile-menu .MuiMenu-paper {
  top: 1em !important;
}
.mobile-menu .MuiMenu-paper ul {
  padding: 0;
  border: 1px solid var(--grey);
  background: var(--dark);
  border-radius: 0;
}
.mobile-menu .MuiMenu-paper ul .MuiListItem-button:not(:last-child) {
  border-bottom: 1px solid var(--muted);
}
.mobile-menu .MuiMenu-paper ul .MuiListItem-button a {
  color: var(--light);
}

/* Social  */
.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons ul li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons ul .social-icons li:last-child {
  margin-right: 0;
}
.social-icons a {
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  color: var(--primary);
}
/* HERO  */
.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .inner-text {
  text-align: center;
}
.hero .inner-text h1 {
  font-size: 2.5rem;
}
.hero .inner-text h2 {
  font-size: 1.5rem;
  font-weight: var(--f-regular);
}
@media (min-width: 768px) {
  .hero .inner-text h1 {
    font-size: 5rem;
  }
  .hero .inner-text h2 {
    font-size: 2rem;
  }
}
.hero .social-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px;
}
.main-bg {
  background-image: linear-gradient(0deg, #3b3b3b, #c5c5c5),
    linear-gradient(
      45deg,
      #9f74d6 0%,
      #9f74d6 25%,
      #825fad 25%,
      #825fad 45%,
      #654a84 45%,
      #654a84 50%,
      #48365a 50%,
      #48365a 52%,
      #2b2131 52%,
      #2b2131 61%,
      #0e0c08 61%,
      #0e0c08 100%
    ),
    linear-gradient(
      135deg,
      #9f74d6 0%,
      #9f74d6 25%,
      #825fad 25%,
      #825fad 45%,
      #654a84 45%,
      #654a84 50%,
      #48365a 50%,
      #48365a 52%,
      #2b2131 52%,
      #2b2131 61%,
      #0e0c08 61%,
      #0e0c08 100%
    );
  background-blend-mode: overlay, overlay, normal;
}
.scroll-down a {
  padding-top: 60px;
}
.scroll-down a span {
  position: absolute;
  bottom: 10em;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll-down a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@media (max-width: 568px) {
  .scroll-down {
    display: none;
  }
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* ABOUT  */
#about {
  padding: 100px 0;
}
#about .about-content {
  margin-bottom: 30px;
}
#about .about-content .image-wrapper {
  text-align: center;
}
#about .about-content .image-wrapper img {
  border-radius: 8px;
}
#about .about-content .text-content .content-heading {
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: center;
}
@media (min-width: 568px) {
  #about .about-content .text-content .content-heading {
    text-align: left;
  }
}
#about .about-content .text-content p {
  margin-bottom: 16px;
  color: var(--muted);
  line-height: 1.5em;
}
#about .about-content .text-content hr {
  margin: 30px 0;
  border: 1px solid var(--primary);
}
#about .about-content .primary-button {
  display: block;
  margin-bottom: 20px;
}
#about .about-content .text-content-footer .social-icons {
  text-align: center;
}
@media (min-width: 568px) {
  #about .about-content .text-content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #about .about-content .primary-button {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  #about .about-content {
    display: flex;
    align-items: center;
  }
  #about .about-content .text-content {
    position: relative;
    width: 100%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  #about .about-content .image-wrapper {
    position: relative;
    width: 100%;
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 70px;
  }
  #about .about-content .image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  #about .about-content .image-wrapper .content-heading {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
@media (max-width: 568px) {
  #about {
    padding: 100px 0 0 0;
  }
}
@media (min-width: 768px) {
  #about {
    padding: 170px 0;
  }
}

/* portfolio  */
#portfolio .nav-section {
  padding: 100px 0;
}
#portfolio .nav-section .container {
  padding: 0;
}
@media (min-width: 568px) {
  #portfolio .nav-section .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  #portfolio .nav-section .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  #portfolio .nav-section .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  #portfolio .nav-section .container {
    max-width: 1170px;
  }
}
#portfolio .nav-section .portfolio-item {
  padding: 10px;
}
#portfolio .nav-section .portfolio-item .image-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 10px;
}
#portfolio .nav-section .portfolio-item .image-wrapper.client:before {
  content: "Client*";
  position: absolute;
  background: var(--primary);
  padding: 5px 10px;
  left: 0;
  z-index: 10;
  top: 10px;
  width: 30%;
  text-align: center;
  font-weight: bold;
}
#portfolio .nav-section .portfolio-item .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#portfolio .nav-section .portfolio-item .title-wrapper {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#portfolio .nav-section .portfolio-item .title-wrapper h2 {
  font-size: 1.3em;
}
#portfolio .nav-section .portfolio-item .link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-gap: 10px;
}
#portfolio .nav-section .portfolio-item .link-wrapper.one {
  grid-template-columns: repeat(1, 1fr);
}
#portfolio .nav-section .portfolio-item .link-wrapper.two {
  grid-template-columns: repeat(2, 1fr);
}
#portfolio .nav-section .portfolio-item .link-wrapper a {
  background: var(--primary);
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}
#portfolio .nav-section .portfolio-item .desc-wrapper {
  margin-bottom: 1em;
}
#portfolio .nav-section .portfolio-item .stack-wrapper {
  display: block;
  height: 4.2em;
  padding-bottom: 10px;
}
#portfolio .nav-section .portfolio-item .stack-wrapper .stack {
  border: 1px solid var(--light);
  padding: 5px;
  margin: 2px;
  display: inline-flex;
  font-size: 0.8em;
  border-radius: 8px;
}
#portfolio .nav-section .portfolio-item .stack-wrapper .stack i {
  margin-top: 2px;
  margin-right: 5px;
}
#portfolio .nav-section .portfolio-modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
#portfolio .nav-section .portfolio-modal .close-button {
  position: absolute;
  right: 0;
  font-size: 2em;
  background-color: transparent;
  color: var(--light);
  padding: 10px 15px;
}
#portfolio .nav-section .portfolio-modal .image-wrapper {
  position: relative;
  height: calc(100vh - 100px);
  width: calc(100% - 100px);
  left: 50px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .nav-section .portfolio-modal .image-wrapper img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
}
#portfolio .nav-section .slick-dots li button:before {
  color: #fff;
}
#portfolio .nav-section .tnc {
  margin-top: 3em;
  text-align: center;
}

/* skills  */
#skills {
  padding: 100px 0;
}
@media (max-width: 568px) {
  #skills {
    padding: 0 0 100px 0;
  }
}
#skills .skill-content {
  text-align: center;
  display: block;
  margin: 60px 0;
}
#skills .skill-content h4 {
  color: var(--primary);
  margin-bottom: 10px;
  font-size: 1.5em;
}
#skills .skill-content .stack {
  padding: 8px;
  color: var(--light);
  background: var(--primary);
  margin: 6px 4px;
  border-radius: 50px;
  font-weight: var(--f-regular);
  display: inline-block;
  cursor: default !important;
}
#skills .skill-content .stack:hover {
  color: var(--primary);
  background: var(--light);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

/* future  */
#future .container {
  background-color: var(--primary);
  padding: 100px 0;
  border-radius: 8px;
}
@media (max-width: 568px) {
  #future {
    padding: 30px 0;
  }
  #future .section-header {
    margin-bottom: 30px;
  }
  #future .section-header .subheading {
    margin-top: 30px;
    font-size: 1.1em;
  }
}
#future .future-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  display: grid;
}
@media (max-width: 568px) {
  #future .future-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}
#future .future-item {
  text-align: center;
}
#future .section-header .subheading {
  color: var(--dark) !important;
}
#future ul {
  margin-left: 2em;
}
#future ul li {
  line-height: 2em;
  display: inline-block;
  list-style: none;
  font-size: 1.2em;
}
#future ul li:not(:last-child):after {
  content: ",";
  margin-right: 0.2em;
}

/* work  */
#experience {
  padding: 100px 0;
}
@media (max-width: 568px) {
  #experience {
    padding: 100px 0 0 0;
  }
  #experience .container {
    padding: 0;
  }
}
#experience .work-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  display: grid;
}
@media (max-width: 568px) {
  #experience .work-grid {
    display: none;
  }
}
#experience .work-slider {
  margin-bottom: 100px;
  display: none;
}
@media (max-width: 568px) {
  #experience .work-slider {
    display: flex;
  }
  #experience .work-slider .slick-list,
  #experience .work-slider .slick-track {
    display: flex;
  }
  #experience .work-slider .slick-slide {
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin-right: 10px;
  }
}
#experience .work-item {
  padding: 10px;
  display: flex;
}
@media (max-width: 568px) {
  #experience .work-item {
    padding: 10px;
  }
}
#experience .work-item .image-side {
  position: relative;
  width: 100%;
  flex: 0 0 15%;
  max-width: 15%;
}
#experience .work-item .image-side .image-wrapper img {
  width: 100%;
  border-radius: 8px;
}
@media (max-width: 568px) {
  #experience .work-item .image-side {
    flex: unset;
    align-items: center;
    justify-content: center;
    max-width: unset;
    width: 100%;
    text-align: center;
  }
  #experience .work-item .image-side img {
    border-radius: 100%;
    width: 40%;
    margin-bottom: 20px;
  }
}
#experience .work-item .image-side img {
  border-radius: 100%;
  width: 40%;
  margin-bottom: 20px;
}
#experience .work-item .detail-side {
  position: relative;
  width: 100%;
  flex: 0 0 75%;
  max-width: 75%;
}
@media (max-width: 568px) {
  #experience .work-item .detail-side {
    flex: unset;
    max-width: unset;
  }
}
#experience .work-item .detail-side .title-wrapper {
  padding: 0 15px;
  height: 5rem;
  display: flex;
  align-items: center;
  text-align: left;
}
@media (max-width: 568px) {
  #experience .work-item .detail-side .title-wrapper {
    display: block;
    padding: 0;
    text-align: center;
    height: unset;
  }
}
#experience .work-item .detail-side .title-wrapper .title h2 {
  margin-bottom: 10px;
}
#experience .work-item .detail-side .title-wrapper .title h2.role {
  font-size: 1.3em;
  margin-bottom: 5px;
}
#experience .work-item .detail-side .title-wrapper .title h2.duration {
  font-size: 1.1em;
}
#experience .work-item .detail-side .title-wrapper .title h2.company {
  color: var(--primary);
  font-size: 1em;
}
#experience .work-item .detail-side .title-wrapper .title h2.location {
  color: var(--light);
  font-size: 0.8em;
  margin-bottom: 5px;
}
@media (max-width: 568px) {
  #experience .work-item .detail-side .title-wrapper .title h2 {
    margin-bottom: 5px;
  }
  #experience .work-item .detail-side .title-wrapper .title h2.role {
    font-size: 1em;
    margin-bottom: 5px;
  }
  #experience .work-item .detail-side .title-wrapper .title h2.duration {
    font-size: 1.1em;
  }
  #experience .work-item .detail-side .title-wrapper .title h2.company {
    color: var(--primary);
    font-size: 1.1em;
  }
  #experience .work-item .detail-side .title-wrapper .title h2.location {
    color: var(--light);
    font-size: 0.8em;
    margin-bottom: 5px;
  }
}
#experience .work-item .detail-side .task-wrapper {
  margin-top: 30px;
  padding: 0 30px;
}
@media (max-width: 568px) {
  #experience .work-item .detail-side .task-wrapper {
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    height: unset;
  }
}
#experience .work-item .detail-side .task-wrapper ul {
  line-height: 2em;
}
#experience .work-item .detail-side .task-wrapper ul ::marker {
  color: var(--primary);
}
#experience .work-item .link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}
#experience .work-item .link-wrapper.two {
  grid-template-columns: repeat(2, 1fr);
}
#experience .work-item .link-wrapper a {
  background: var(--primary);
  width: 100%;
  text-align: center;
  padding: 10px;
}
#experience .work-item .desc-wrapper {
  margin-bottom: 1em;
}
#experience .work-item .stack-wrapper {
  display: block;
  height: 4.2em;
  padding-bottom: 10px;
}
#experience .work-item .stack-wrapper .stack {
  border: 1px solid var(--light);
  padding: 5px;
  margin: 2px;
  display: inline-flex;
  font-size: 0.8em;
}
#experience .work-item .stack-wrapper .stack i {
  margin-top: 2px;
  margin-right: 5px;
}
#experience .work-modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
#experience .work-modal .close-button {
  position: absolute;
  right: 0;
  font-size: 2em;
  background-color: transparent;
  color: var(--light);
  padding: 10px 15px;
}
#experience .work-modal .image-wrapper {
  position: relative;
  height: calc(100vh - 100px);
  width: calc(100% - 100px);
  left: 50px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#experience .work-modal .image-wrapper img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
}
#experience .work-slider .work-item {
  display: inline-block;
}
#experience .work-slider .work-item .image-side {
  flex: unset;
  align-items: center;
  justify-content: center;
  max-width: unset;
  width: 100%;
  text-align: center;
}
#experience .work-slider .work-item .image-side .image-wrapper img {
  border-radius: 100%;
  width: 40%;
  margin-bottom: 20px;
}
#experience .work-slider .work-item .detail-side .institute {
  color: var(--primary);
  font-size: 1em;
}
#experience .work-slider .work-item .detail-side .location {
  color: var(--light);
  font-size: 0.8em;
  margin-bottom: 5px;
}

#education {
  padding: 100px 0;
}
#education .heading {
  text-align: center;
}
@media (max-width: 568px) {
  #education {
    padding: 0;
  }
  #education .container {
    padding: 0;
  }
}
.edu-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  display: grid;
}
@media (max-width: 568px) {
  .edu-grid {
    display: none;
  }
}
.edu-slider {
  margin-bottom: 100px;
  display: none;
}
@media (max-width: 568px) {
  .edu-slider {
    display: flex;
  }
  .edu-slider .slick-list,
  .edu-slider .slick-track {
    display: flex;
  }
  .edu-slider .slick-slide {
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin-right: 10px;
  }
}
.edu-item {
  padding: 10px;
  display: flex;
}
@media (max-width: 568px) {
  .edu-item {
    padding: 10px;
  }
}
.edu-item .image-side {
  position: relative;
  width: 100%;
  flex: 0 0 15%;
  max-width: 15%;
}
.edu-item .image-side .image-wrapper img {
  width: 100%;
  border-radius: 8px;
}
@media (max-width: 568px) {
  .edu-item .image-side {
    flex: unset;
    align-items: center;
    justify-content: center;
    max-width: unset;
    width: 100%;
    text-align: center;
  }
  .edu-item .image-side img {
    border-radius: 100%;
    width: 40%;
    margin-bottom: 20px;
  }
}
.edu-item .image-side img {
  border-radius: 100%;
  width: 40%;
  margin-bottom: 20px;
}
.edu-item .detail-side {
  position: relative;
  width: 100%;
  flex: 0 0 75%;
  max-width: 75%;
}
@media (max-width: 568px) {
  .edu-item .detail-side {
    flex: unset;
    max-width: unset;
  }
}
.edu-item .detail-side .title-wrapper {
  padding-left: 15px;
  height: 5rem;
  display: flex;
  align-items: center;
  text-align: left;
}
@media (max-width: 568px) {
  .edu-item .detail-side .title-wrapper {
    display: block;
    padding: 0;
    text-align: center;
    height: unset;
  }
}
.edu-item .detail-side .title-wrapper .title h2 {
  margin-bottom: 5px;
}
.edu-item .detail-side .title-wrapper .title h2.yearField {
  font-size: 1.1em;
  margin-bottom: 5px;
}
.edu-item .detail-side .title-wrapper .title h2.yearField span {
  color: var(--primary);
}
.edu-item .detail-side .title-wrapper .title h2.institute {
  color: var(--primary);
  font-size: 1em;
}
.edu-item .detail-side .title-wrapper .title h2.company {
  color: var(--primary);
  font-size: 1em;
}
.edu-item .detail-side .title-wrapper .title h2.location {
  color: var(--light);
  font-size: 0.8em;
  margin-bottom: 5px;
}
@media (max-width: 568px) {
  .edu-item .detail-side .title-wrapper .title h2 {
    margin-bottom: 5px;
  }
  .edu-item .detail-side .title-wrapper .title h2.yearField {
    font-size: 1.3em;
    margin-bottom: 5px;
  }
  .edu-item .detail-side .title-wrapper .title h2.institute {
    font-size: 1.1em;
  }
  .edu-item .detail-side .title-wrapper .title h2.location {
    color: var(--light);
    font-size: 0.8em;
    margin-bottom: 5px;
  }
}
.edu-slider .edu-item {
  display: inline-block;
}
.edu-slider .edu-item .image-side {
  flex: unset;
  align-items: center;
  justify-content: center;
  max-width: unset;
  width: 100%;
  text-align: center;
}
.edu-slider .edu-item .image-side .image-wrapper img {
  border-radius: 100%;
  width: 40%;
  margin-bottom: 20px;
}
.edu-slider .edu-item .detail-side .institute {
  color: var(--primary);
  font-size: 1em;
}
.edu-slider .edu-item .detail-side .location {
  color: var(--light);
  font-size: 0.8em;
  margin-bottom: 5px;
}

/* contact  */
#contact {
  padding: 150px 0;
  background-image: linear-gradient(
      360deg,
      #a856c9 0%,
      #a856c9 3%,
      #8c4aad 3%,
      #8c4aad 11%,
      #703d91 11%,
      #703d91 20%,
      #553176 20%,
      #553176 49%,
      #39255a 49%,
      #39255a 71%,
      #1d183e 71%,
      #1d183e 72%,
      #111 72%,
      #111 100%
    ),
    linear-gradient(
      67.5deg,
      #a856c9 0%,
      #a856c9 3%,
      #8c4aad 3%,
      #8c4aad 11%,
      #703d91 11%,
      #703d91 20%,
      #553176 20%,
      #553176 49%,
      #39255a 49%,
      #39255a 71%,
      #1d183e 71%,
      #1d183e 72%,
      #111 72%,
      #111 100%
    ),
    linear-gradient(
      112.5deg,
      #a856c9 0%,
      #a856c9 3%,
      #8c4aad 3%,
      #8c4aad 11%,
      #703d91 11%,
      #703d91 20%,
      #553176 20%,
      #553176 49%,
      #39255a 49%,
      #39255a 71%,
      #1d183e 71%,
      #1d183e 72%,
      #111 72%,
      #111 100%
    ),
    linear-gradient(
      315deg,
      #a856c9 0%,
      #a856c9 3%,
      #8c4aad 3%,
      #8c4aad 11%,
      #703d91 11%,
      #703d91 20%,
      #553176 20%,
      #553176 49%,
      #39255a 49%,
      #39255a 71%,
      #1d183e 71%,
      #1d183e 72%,
      #111 72%,
      #111 100%
    ),
    linear-gradient(360deg, #5f034a, #234160);
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
}
@media (max-width: 568px) {
  #contact {
    padding: 50px 0 100px 0;
  }
}
#contact .section-header {
  text-align: center;
}
#contact .text-content {
  margin-bottom: 50px;
}
#contact .text-content p {
  font-size: 1.25rem;
  color: var(--muted);
  line-height: 1.5;
}
#contact .social-icons {
  margin-top: 20px;
}
#contact .contact-block {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#contact .contact-block .icon-wrapper i {
  color: var(--primary);
  font-size: 2.5rem;
  margin-right: 20px;
}
#contact .contact-block .details .heading {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--muted);
}
#contact .contact-block .details a,
#contact .contact-block .details span {
  font-size: 1rem;
  color: var(--light);
  font-weight: var(--f-bold);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
#contact .contact-block .details a:hover {
  opacity: 0.7;
}
@media (min-width: 768px) {
  #contact {
    padding: 350px 0;
  }
  #contact .inner-content {
    display: flex;
  }
  #contact .text-content {
    padding-right: 50px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  #contact .text-content {
    padding-right: 90px;
  }
  #contact .contact-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  #contact .contact-info .contact-block {
    display: block;
    text-align: center;
  }
  #contact .contact-info .contact-block .heading {
    padding: 10px 0;
  }
  #contact .contact-info .contact-block span {
    font-size: 1.25rem;
  }
  #contact .contact-info .contact-block .icon-wrapper i {
    margin: 0;
  }
  #contact .contact-info .contact-block:hover i {
    font-size: 3rem;
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
}

/* sliders  */
.slick-slider {
  width: 100%;
}
.slick-slider .slick-slide img {
  display: inline !important;
}
@media screen and (device-width: 480px) and (device-height: 640px) {
  .slick-slide {
    margin: 0 10px;
    background: #000;
    margin: 0;
    background: transparent;
  }
}

/* modal  */
.MuiDialog-paper {
  background-color: var(--grey) !important;
  border: 1px solid var(--primary);
  border-radius: 10px !important;
  color: var(--light) !important;
}
.MuiDialog-paper h2 {
  text-align: center;
  line-height: 1.2em;
}
.MuiDialog-paper h2 div {
  color: var(--primary);
  font-weight: var(--f-bold);
  margin-top: 10px;
}
.MuiDialog-paper hr {
  border: 1px solid var(--primary);
  margin-bottom: 20px;
}
.MuiDialog-paper ul {
  line-height: 2em;
  padding-left: 20px;
}
.slick-dots {
  position: unset !important;
}
.slick-dots li button:before {
  color: var(--primary) !important;
}
