.arcadePage{
    align-items: center;
    background-color: red;
    background: url('https://images.pexels.com/photos/4836513/pexels-photo-4836513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    display: flex;
    font-family: 'Press Start 2P', cursive;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;

    &::after{
        background-blend-mode: multiply;
        background-color: rgba(0,0,0,.7);
        content: '';
        height: 100vh;
        position: absolute;
        width: 100%;
    }

    h1{
        z-index: 1;
        color: lime;
        margin-bottom: 1em;
    }
    .slider{
        z-index: 1 ;

        button{
            top: 110%;
            width: 4rem;
            width: 10%;
            height: 4rem;
            
            &:nth-child(1){
                left: 2%;
                &::before{
                    content: 'prev';
                    background: black;
                    border: .2em solid lime;
                    padding: 1em;
                    color: lime;
                    font-family: 'Press Start 2P', cursive;
                }
                
            }
            
            &:nth-child(3){
                right: 2%;
                
                &::before{
                    background: black;
                    color: lime;
                    border: .2em solid lime;
                    padding: 1em;
                    content: 'next';
                    font-family: 'Press Start 2P', cursive;
                }

            }
        }

    
    }
     .slick-prev{
     
     }
 
}

.gamesContainer{
    z-index: 1;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gameOuter{
    margin:  0 1em;
}
.gameBox{
    background: black;
    border: .3em solid lime;
    flex: 1;
    margin: 1em;
    padding: 1em;
    
    img{
        width: 100%;
    }
    .title{
        margin: 1em;
        text-align: center;
        font-size: 1.5em;
        color: lime;
        
    }
    .links{
        color: lime;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 0;

        a, span{
            margin: 1em 0;
        }
    }
}